/** Map Legend */
.shm-legend {
	width: 100%;
	padding:5px 7px;
	background-color: var(--shm-legend-background);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	z-index:1;
	border-bottom-right-radius: var(--shm-border-radius);
	border-bottom-left-radius: var(--shm-border-radius);

	&__item {
		display: flex;
		align-items: center;

		.shm-icon {
			max-width: 40px;

			img {
				max-height: 30px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			svg {
				display: block;
				width: 26px;
				height: 26px;
				margin-right: -5px;
			}
		}
	}
}
