/** Map Container */
.shm-map {

	&-block {
		margin-left: auto;
		margin-right: auto;

		&:not(.alignwide) {
			max-width: var(--shm-map-max-width);
		}
	}

	&-container {
		display: block;
		position: relative;
		height: 400px;
		width: 100%;
		border: 1px solid var(--shm-field-border-color);
		border-radius: var(--shm-border-radius);
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		box-sizing: border-box;

		&.shm-map-has-legend {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom: 0;
		}
	}
}
