:root {
	--shm-map-max-width: 100%;
	--shm-border-radius: 10px;
	--shm-color-primary: #f43724;
	--shm-color-primary-hover: #db3120;
	--shm-form-background: #f7f8f8;
	--shm-form-header-color: #183343;
	--shm-form-width: 960px;
	--shm-field-border-color: #8599a4;
	--shm-field-border-color-active: var(--shm-form-header-color);
	--shm-legend-background: #222;
}