/**
 * Gutenberg
 */

.shm-editor-block__create-new-link {
	padding: 0 16px 16px 52px;
	margin-top: -12px;
}

.shm-editor-block__notice {
	padding-bottom: 14px;
}

.shm-editor-block__notice .components-notice {
	margin-top: 0;
}

.shm-components-map-elements .is-enabled {
	color: #007cba;
}

.shm-components-map-elements .is-disabled {
	color: #cc1818;
}
